<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>垃圾博客</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/blogstyle.css">
</head>
<body>
	<header id="header">
		<div>
			<div id="imgLogo">
				<a href="/">
					<img src="/images/logo.svg" alt="Shan">
				</a>
			</div>
			<div id="textLogo">
				<h1 class="site-name">
					<a href="/" title="SuperShan">SuperShan</a>
				</h1>
				<h2>晚来天欲雪，能饮一杯否</h2>
			</div>
			<nav class="animated">
				<ul class="nav nav-tabs">
					<li><a href="/">主页</a></li>
					<% if (user){ %>
					<li><a title="发表" href="/post">post</a></li>
					<li><a title="登出" href="/logout">logout</a></li>
					<% } else { %>
					<li><a title="登录" href="/login">login</a></li>
					<li><a title="注册" href="/reg">register</a></li>
					<% } %>
				</ul>
			</nav>
		</div>
	</header>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>


