	</article>
	<footer>
		<div id="footer">
			<div class="line">
				<span></span>
				<div id="info"></div>
			</div>
			<section class="intro">
				<p>
					Hello,I'm SuperShan <br>
					I am a javascripter,noder,and A bad boyfriend.
				</p>
			</section>
			<div id="moto">
				<p>我坚持不是因为我坚强，而是因为我别无选择。</p>
			</div>
			<div id="duty">
				<p>powered by SuperShan</p>
			</div>
		</div>
	</footer>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>